---
layout: default
title: Contact Me
---

<!--
  To make this form work you have to:
  1. defined "email: youremail@email.com" in _config.yml file.
  2. verify your form on formspree.io.
-->


<div id="content" class="site-content fadeInDown delay_075s">
  <main id="main" class="site-main outer">
    <div class="inner">
      <h1 class="post-title">Contact Me</h1>
      {% if site.contact_page_description %}
        <p>{{ site.contact_page_description }}</p>
      {{else}}
      {% endif %}

      <h4>Interact with me on Twitter</h4>
      <section class="twitter">
         <p>
          <a href="https://twitter.com/nuclearkatie?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @nuclearkatie</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a href="https://twitter.com/intent/tweet?screen_name=nuclearkatie&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @nuclearkatie</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
      </section>

      <section class="contact-form">
        <h4>Send me a message</h4><br>
        <form action="https://formspree.io/{{ site.email }}" method="post" id="contact-form">
          <div class="form-item">
            <label class="form-label">Your Email <span>(required)</span></label>
            <input type="text" name="email" placeholder="Your email address..." class="form-input" />
          </div>

          <div class="form-item">
            <label class="form-label">Your Name <span>(required)</span></label>
            <input type="text" name="name" placeholder="Your name..." class="form-input" />
          </div>

          <div class="form-item">
            <label class="form-label">Your Message <span>(required)</span></label>
            <textarea name="message" placeholder="Your message..." class="form-textarea"></textarea>
          </div>

          <input type="hidden" name="_next" value="/thank-you" />
          <input type="hidden" name="_subject" value="Contact form submission" />
          <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="" />

          <div class="form-item">
            <input type="submit" value="Send Message" class="button" />
          </div>
        </form>
      </section>
    </div><!-- .inner-->
  </main>
</div>

{% include image-caption.html imageurl="/assets/images/mummah_W.jpg#wide" title="Making the UW symbol with a vaguely W-shaped rock" %}
